In [273]:
import pandas as pd 
import itertools
df = pd.read_csv('Dis2.csv')
df

   A  B  D
0  1  3  2
1  1  5  2
2  5  3  2
3  3  8  1
4  8  5  1
5  3  5  2
6  5  8  1
7  8  8  1

In [274]:
c = list(itertools.combinations(df.index,2))
unique = list(set(c))
unique.sort()

new_unique = []
for two_col in unique:
    if(df['D'].iloc[two_col[0]] !=  df['D'].iloc[two_col[1]]):
        new_unique.append(two_col)

new_unique

[(0, 3),
 (0, 4),
 (0, 6),
 (0, 7),
 (1, 3),
 (1, 4),
 (1, 6),
 (1, 7),
 (2, 3),
 (2, 4),
 (2, 6),
 (2, 7),
 (3, 5),
 (4, 5),
 (5, 6),
 (5, 7)]

In [275]:
df_without_d = df.copy
df_without_d = df.drop(columns='D')
df_without_d

   A  B
0  1  3
1  1  5
2  5  3
3  3  8
4  8  5
5  3  5
6  5  8
7  8  8

In [276]:
kind_of_value = {}
for i in df_without_d:
    kind_of_value[i] = list(set(df_without_d[i]))
    kind_of_value[i].sort()
kind_of_value

{'A': [1, 3, 5, 8], 'B': [3, 5, 8]}

In [277]:
line_name = ['p','q','r','t']
count = 0
kind_of_line_whole = {}

for key, value in kind_of_value.items():
    i = 1
    kind_of_line = {}
    for number in value:
        if len(kind_of_value[key]) > i:
            kind_of_line[f'{line_name[count]}{i}'] = [kind_of_value[key][i-1],kind_of_value[key][i]]
            i = i + 1
    count = count + 1
    kind_of_line_whole[key] = kind_of_line
kind_of_line_whole

{'A': {'p1': [1, 3], 'p2': [3, 5], 'p3': [5, 8]},
 'B': {'q1': [3, 5], 'q2': [5, 8]}}

In [278]:
def compareX(x1,x2):
    answer = f'f({x1 + 1},{x2 + 1}) = '
    for col in df_without_d:
        values_of_one_col = [df_without_d[col].iloc[x1],df_without_d[col].iloc[x2]]
        values_of_one_col.sort()
        if(values_of_one_col[0] != values_of_one_col[1]):
            for key, value in kind_of_line_whole[col].items():
                if(values_of_one_col[0] == value[0] and values_of_one_col[1] == value[1]):
                    answer = f'{answer} {key}'
                    break
                elif(values_of_one_col[0] <= value[0] and values_of_one_col[1] == value[1]):
                    answer = f'{answer} {key}'
                    break
                elif(values_of_one_col[0] <= value[0]):
                    answer = f'{answer} {key}'
        df_without_d[col].iloc[x1]
    print(answer)

In [279]:
for i in new_unique:
    compareX(i[0],i[1])

f(1,4) =  p1 q1 q2
f(1,5) =  p1 p2 p3 q1
f(1,7) =  p1 p2 q1 q2
f(1,8) =  p1 p2 p3 q1 q2
f(2,4) =  p1 q2
f(2,5) =  p1 p2 p3
f(2,7) =  p1 p2 q2
f(2,8) =  p1 p2 p3 q2
f(3,4) =  p2 q1 q2
f(3,5) =  p3 q1
f(3,7) =  q1 q2
f(3,8) =  p3 q1 q2
f(4,6) =  q2
f(5,6) =  p2 p3
f(6,7) =  p2 q2
f(6,8) =  p2 p3 q2